<% if @entry.errors.any? %>
  <ul>
    <% @entry.errors.full_messages.each do |error_msg| %>
      <li><%= error_msg %></li>
    <% end %>
  </ul>
<% end %>

<h2>Creating a new entry in <%= @project.name %> project</h2>

<%= render 'form' %>